h2::first-letter {
    font-size: 2em;
}

h2 + p {
    text-indent: 2em;
}

a::before {
    content: "→"
}

abbr[title="Uniform Resource Locator"]::after {
    content: " (Uniform Resource Locator)";
    font-style: italic;
}

abbr[title="HTML"]::after {
    content: " (Hypertext Markup Language)";
    font-style: italic;
}

abbr[title="CSS"]::after {
    content: " (CascadingStyle Sheets)";
    font-style: italic;
}