* {
    box-sizing: border-box;
}

body {
    background-color: rgb(248, 250, 229);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    margin: 40px;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    background-color: rgb(67, 118, 108);
    text-shadow: 2px 2px black;
}

h2 {
    background-color: rgb(118, 69, 59);
    color: white;
    font-size: 30px;
    padding: 10px;
}

h3 {
    background-color: rgb(177, 148, 112);
    color: white;
    font-size: 20px;
    padding: 10px;
}

p {
    padding-left: 20px;
    background-color: wheat;
    line-height: 40px;
}

iframe {
    width: 450px;
    height: 300px;
}

strong {
    color: red;
}

address {
    background-color: rgb(177, 148, 112);
    font-style: normal;
    text-align: right;
    padding: 10px;
}

div {
    justify-content: center;
    display: flex;
}

img {
    margin: 20px;
    border-radius: 13px;
}